<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/signup.css">
</head>
<body>
    <h2>signup</h2>
    <form action="/signup" method="post">
    <input type="text" name="name" placeholder="Ener ur name">
    <input type="password" name="password" placeholder="Ener ur password">
    <input type="submit">
    </form>
    

</body>
</html>